mat-form-field{
    padding: 30px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.example-card {
    max-width: 700px;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('../../assets/nasa-image.jpg');
    background-size: cover;
  }